fastembed==0.7.3
pymupdf==1.26.4
python-dotenv==1.1.1
soundfile==0.13.1
streamlit==1.50.0
torch
torchvision
transformers==4.46.3
langchain-openai
sarvamai
soundfile
psycopg2-binary
pgvector
pdf2image
yt-dlp==2026.03.03
sqlalchemy
passlib
python-multipart
psycopg
flashrank
poppler-utils
crawl4ai
chonkie[fast]
pillow-heif
google-api-python-client 
youtube-transcript-api 
pytubefix
prometheus-client
reportlab
markdown2
psutil
ragas
duckduckgo-search
validators
python-dateutil
python-pptx
python-docx
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1
google-api-python-client>=2.100.0
browser-cookie3
fastapi
uvicorn
PyJWT